
<div class="container text-center">
  <div class="card-search">
  <%= form_tag meetings_path, method: :get do %>
    <div class="placeholder">
      <%= text_field_tag :where, params[:where], placeholder: "Ex: São Paulo" %>
      <%= text_field_tag :category, params[:category], placeholder: "Ex: Slackline" %>
      <%= date_field_tag :date, params[:date] %>
      <%= submit_tag 'Filtrar', class: "btn btn-xs btn-primary" %>
    </div>
    </div>
  <% end %>

  <div class="row">

    <div class="col-xs-12 col-md-8" >

      <% @meetings.each do |meeting| %>
        <div class="col-xs-12 col-md-6" >


          <div class="card-index">

            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= meeting.category.photo %>');">
              <% if meeting.user.facebook_picture_url.present? %>
                <%= image_tag meeting.user.facebook_picture_url, class: 'card-user' %>
              <% else %>
                <%= image_tag 'http://res.cloudinary.com/dpg1ipkol/image/upload/v1502308490/empresario_318-72886_gbwwol.png', class: 'card-user' %>
              <% end %>
              <h1>
                <span class="card-name"><%= link_to meeting.name, meeting_path(meeting) %></span>
              </h1>


            <div class="card-description">
              <%= meeting.category.name %>
              <strong><%= meeting.date.to_s(:long) %></strong>
              <strong><p><%= meeting.city + ", " + meeting.location %></p></strong>
            </div>

            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-4">
      <div id="map" style="height: 700px"></div>

    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).ready(function() {
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function() {
            markers = handler.addMarkers(<%= raw @hash.to_json %>);
            console.log(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
              handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
              handler.getMap().setZoom(14);
            }
          });
        });
      <% end %>
    <% end %>
  </div>
  </div>
</div>




