
<h1>Aqui nós mostramos as meetings de acordo com o filtro</h1>

  <ul>
  <% @meetings.each do |meeting| %>
    <li><%= meeting.name %></li>
    <li><%= meeting.city %></li>
    <li><%= meeting.location %></li>
    <li><%= meeting.duration %></li>
    <li><%= meeting.group_size %></li>
    <li><%= meeting.category %></li>
    <li><%= meeting.description %></li>
    <li><%= meeting.date %></li>
  <% end %>
  </ul>



<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Geocoder</title>

    <link rel="stylesheet" href="../../assets/stylesheets/application.scss">
  </head>
  <body>

    <!-- TODO: Put your HTML code in here -->
    <div class="container text-center">

      <div class="row middle-page">

        <div class="col-xs-12 col-md-8 middle-page" >
          <ul>
            <%3.times do%>
              <div class="col-xs-12 col-md-4">
                <div class="card-white">
                  <h3>Exemplo</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ea corporis dignissimos. Alias sed delectus at eaque sit ut recusandae odit quae repellendus velit deleniti maxime quaerat, reiciendis cupiditate dignissimos.
                  </p>
                </div>
              </div>
            <% end %>
          </ul>
        </div>

        <div class="col-xs-12 col-md-4">
          <form action="" class="form-inline">
            <div class="form-group">
              <input type="text" id="address" placeholder="Address" class="form-control">
              <input type="submit" id="submit_address" class="btn btn-primary" value="Submit">
            </div>
          </form>



          <div id="map" style="height: 500px"></div>

        </div>
      </div>
    </div>


    <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->

    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="js/app.js"></script>
  </body>
</html>



