
<div class="container text-center">

  <div class="row middle-page">

    <div class="col-xs-12 col-md-8 middle-page" >

      <% @meetings.each do |meeting| %>
        <div class="col-xs-12 col-md-6" >

          <div class="card-index">
            <% if meeting.user.facebook_picture_url.present? %>
              <%= image_tag meeting.user.facebook_picture_url, class: 'card-user' %>
            <% else %>
              <%= image_tag 'http://res.cloudinary.com/dpg1ipkol/image/upload/v1502308490/empresario_318-72886_gbwwol.png', class: 'card-user' %>
            <% end %>
            <h1>
              <%= link_to meeting.name, meeting_path(meeting) %>
            </h1>

            <div class="card-description text-center">
              <p>
                <%= meeting.city + ", " + meeting.location %>
                <%= meeting.duration %>
              </p>
              <p>
              <strong>Esporte: </strong><%= meeting.category %>
                <%= meeting.date.strftime("%d/%m") %>
              </p>
            </div>

          </div>
        </div>
      <% end %>

    </div>

    <div class="col-xs-12 col-md-4">
      <div id="map" style="height: 500px"></div>
    </div>
  </div>
</div>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        console.log(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
