<div class="container-meeting-show">

  <div class="card-meeting-show">

    <div class="col-xs-12 col-md-6">

      <div class="card-meeting-head" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url('<%= cl_image_path @meeting.category.photo %>');">

        <div class="card-meeting-details">
          <h2><strong><%= @meeting.category.name %></strong></h2>
          <h2>Evento: <strong><%= @meeting.name%></strong></h2>
          <p><%= @meeting.city %></p>
        </div>
      </div>

      <div class="card-meeting-body">
          <ul style="list-style-type: none">
            <li>Local do evento: <strong><%= @meeting.location %></li></strong>
            <li>Duração do evento: <strong><%= @meeting.duration %></li></strong>
            <li>Capacidade do evento: <strong><%= @meeting.group_size %> pessoas</li></strong>
            <li>Data: <strong><%= @meeting.date.to_s(:long) %></li></strong>
          </ul>
      </div>

      <br>

      <div class="card-meeting-description">
        <ul style="list-style-type: none">
          <li>Descrição: <strong><%= @meeting.description %></strong></li>
        </ul>
      </div>

          <% if user_signed_in? %>

            <% unless @meeting.groups.any? {|group| group.user == current_user } %>
              <%= simple_form_for(@group) do |g|  %>
                <%= g.input_field :id, as: :hidden, value: @meeting.id %>
                <%= g.submit class: "btn btn-primary" %>
              <% end %>


            <% else  %>
              <%= link_to "Leave Meeting", group_path(@group, meeting_id: @meeting.id), class: "btn btn-danger", method: :delete %>
            <% end %>

          <% else %>
            <%= link_to "Enroll Meeting", new_user_session_path, class: 'btn btn-primary' %>
          <% end %>

    </div>
  </div>
</div>



  <div class="col-xs-12 col-md-6">
    <div id="map" style="height: 500px"></div>

    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).ready(function() {
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function() {
            markers = handler.addMarkers(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
              handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
              handler.getMap().setZoom(14);
            }
          });
        });
      <% end %>
    <% end %>
  </div>

    <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="js/app.js"></script>


</div>



<br>
<br>

  <div class="container-participants">

    <div class="participants-information", style="padding: 10px">
      <h2><strong>Quem já confirmou esse evento:</strong></h2>


    <div class="participants-pictures">
      <% @meeting.groups.each do |group| %>
      <%= group.user.first_name%>
      <% end %>


        <img src="images_news/image1.gif" width="160" height="90" alt="bbc news special" />

      </div>
  </div>



<br>

      <%= link_to "Edit your meeting", edit_meeting_path(@meeting.id), class: "btn btn-xs btn-primary" %>
      <%= link_to "Delete your meeting", meeting_path(@meeting.id), class: "btn btn-xs btn-danger", method: :delete, data: {confirm: "Are you sure?" } %>
