<div class="container">
<div class="container_meeting_show">
<h1>Evento: <%= @meeting.name%></h1>

  <%= link_to "Edit your meeting", edit_meeting_path(@meeting.id), class: "btn btn-xs btn-primary" %>

  <ul style="list-style-type: none">
    <li>Categoria:<%= @meeting.category %></li>
    <li>Cidade do evento: <%= @meeting.city %></li>
    <li>Local do evento: <%= @meeting.location %></li>
    <li>Duração do evento: <%= @meeting.duration %></li>
    <li>Capacidade do evento: <%= @meeting.group_size %> pessoas</li>
    <li>Data:<%= @meeting.date %></li>
    <li>Descrição: <%= @meeting.description %></li>
  </ul>


  <%= link_to "Delete your meeting", meeting_path(@meeting.id), class: "btn btn-xs btn-danger", method: :delete, data: {confirm: "Are you sure?" } %>
</div>
</div>

