<p>Aqui vai ficar a descrição do user e da @meeting</p>


  <ul>
    <li><%= current_user.first_name %></li>
    <li><%= current_user.last_name %></li>
  </ul>

  <ul>
    <li><%= @meeting.name %></li>
    <li><%= @meeting.city %></li>
    <li><%= @meeting.location %></li>
    <li><%= @meeting.duration %></li>
    <li><%= @meeting.group_size %></li>
    <li><%= @meeting.category %></li>
    <li><%= @meeting.description %></li>
    <li><%= @meeting.date %></li>
  </ul>




<%= cl_image_tag @meeting.photo, height: 300, width: 400, crop: :fill %>

