
<div class="card card-coach text-left" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= meeting.photo %>');">

  <div class="card-category"><i class="fa fa-calendar-o" aria-hidden="true"></i>
<%= meeting.date.strftime("%d/%m/%Y") %></div>

  <div class="card-description">
    <h2 class="card-title">
      <%= link_to meeting_path(meeting) do %>
        <%=  meeting.category %>
      <% end %>
    </h2>
  </div>
  <span class="card-user"><i class="fa fa-users" aria-hidden="true"></i> <%= meeting.group_size %></span>


</div>
