<h1>Users#show</h1>
<p>Clique na meeting que você quer editar</p>

<% current_user.meetings.each do |meeting| %>
  <ul>
    <li><%= link_to meeting.name, edit_meeting_path(meeting.id) %></li>
    <li><%= meeting.name %></li>
    <li><%= meeting.city %></li>
    <li><%= meeting.location %></li>
    <li><%= meeting.duration %></li>
    <li><%= meeting.group_size %></li>
    <li><%= meeting.category %></li>
    <li><%= meeting.description %></li>
    <li><%= meeting.date %></li>
    <li><%= link_to "Delete your meeting", meeting_path(meeting.id), class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure?" } %> </li>
  </ul>
<% end %>

<%= link_to "Back to home", root_path, class: "btn btn-primary" %>

