
<div class="container">
  <div class="row show">
    <div class="col-xs-12 <%= @user.coach ? "col-md-8" : "col-md-12" %>">
      <div class="row">
        <div id="perfil">

          <div class="flex-box">
            <div id="avatar">
              <% if @user.facebook_picture_url.present? %><%= image_tag @user.facebook_picture_url %>
              <% else %> <%= image_tag 'http://res.cloudinary.com/dpg1ipkol/image/upload/v1502308490/empresario_318-72886_gbwwol.png' %>
              <% end %>

            </div>

            <div>
              <h4 id="nome"><i class="fa fa-user-o" aria-hidden="true"></i>
              <%= "#{@user.first_name} #{@user.last_name}"  %></h4>
              <p id="sobre"><strong><i class="fa fa-map-marker" aria-hidden="true"></i>
              </strong> <%= @user.user_city %></p>
              <p id="sobre"> <%= @user.about %></p>

            </div>
          </div>

            <div id="category-description">
              <p><strong>Saiba mais sobre as minhas meetings:</strong></p>
              <% @meetings.each do |meeting| %>
                <h5><%= meeting.category%></h5>
                <p><%=meeting.description%></p>
              <% end %>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="meetings show">
          <h5 class="text-center">Veja todos eventos cadastrados por esse coach:</h5>
          <div class="text-center">
            <% @user.meetings.each do |meeting| %>
              <%= render "card", meeting: meeting %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <% if @user.coach %>
      <div class="col-xs-12 col-md-4">
        <div class="reviews show">
          <div class="text-center">
            <h4>
              <i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
              <i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
              <i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
              <i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
              <i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
            </h4>
          </div>
          <h4 class="text-center">Reviews</h4>

          <% 4.times do %>
            <%= render 'review' %>
          <% end %>
        </div>
      </div>
    <% end %>

      <div class="col-xs-12 col-md-12">
        <%= link_to root_path, class: "btn btn-primary" do %>
          <i class="fa fa-home"></i>
        <% end %>
      </div>

  </div>

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>

