<h1>Users#show</h1>
<p>Clique na meeting que você quer editar</p>

<% current_user.meetings.each do |meeting| %>
  <ul>
    <li><%= link_to meeting.name, edit_meeting_path(meeting.id) %></li>
    <li><%= meeting.city %></li>
    <li><%= meeting.location %></li>
    <li><%= meeting.duration %></li>
    <li><%= meeting.group_size %></li>
    <li><%= meeting.category %></li>
    <li><%= meeting.description %></li>
    <li><%= meeting.date %></li>
  </ul>
<% end %>

<%= link_to "Back to home", root_path, class: "btn btn-primary" %>

