<div class="text-center">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/dpg1ipkol/image/upload/v1502301417/lp_gxnqiq.jpg');">
    <div id="header">
      <h1>Make Me Move</h1>
    </div>

    <div class="banner-content">
      <h2>Encontre seu <strong>coach</strong>!</h2>

      <div class="row">

        <%= form_tag meetings_path, method: :get do %>
          <div class="placeholder">
            <%= text_field_tag :where, nil, placeholder: "Ex: São Paulo" %>
            <%= text_field_tag :category, nil, placeholder: "Ex: Slackline" %>
            <%= date_field_tag :date, nil %>
            <%= submit_tag 'Search', class: "btn btn-xs btn-primary" %>
          </div>
        <% end %>

        <div class="button-create-show">

          <% if user_signed_in? %>
            <%= link_to "Create a new meeting", new_meeting_path, class: "btn btn-primary" %>
            <%= link_to "Show my meetings", user_path(current_user), class: "btn btn-primary" %>
          <% end %>

        </div>
      </div>
    </div>
  </div>

  <div class="wrapper-grey text-center">

    <div class="container">
      <h2>Nós selecionamos <strong>os melhores treinadores</strong> para <strong>você</strong></h2>
      <div class="row">

        <% @users.each do |user| %>

          <div class="col-xs-12 col-sm-6 col-md-4">
            <%= link_to user_path(user) do %>
              <div class="card-white">
                <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('http://res.cloudinary.com/dpg1ipkol/image/upload/v1502385652/como-escolher-um-coach-bom_kx6fq6.png');">
                  <% if user.facebook_picture_url.present? %>
                    <%= image_tag user.facebook_picture_url, class: 'card-user' %>
                  <% else %>
                    <%= image_tag 'http://res.cloudinary.com/dpg1ipkol/image/upload/v1502308490/empresario_318-72886_gbwwol.png', class: 'card-user' %>
                  <% end %>
                  <h4><strong><%= user.first_name %></strong></h4>
                  <br>
                  <br>

                  <p>Mas pode me chamar de...<%= user.username%></p>
                  <p><strong><%= user.user_city%></strong></p>

                </div>
              </div>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>

  </div>
</div>
